doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href="#{cssCommon}")
    script.
      var appInit = !{appInit};

  body
    div#react-root  "Loading.."

    script(src='../build/app.bundle.js')
